<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="TfcUrl" value="https://tfs.mtsit.com/STS"/>
		<add key="UserName" value="Горятнин Павел"/>
		<add key="TimeToStartNotifications" value="12:00:00"/>
		<add key="MinimalHourWork" value="8"/>
	</appSettings>
</configuration>